/* General Website Style rules */
* {
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    
    /*pin the footer to the bottom of the page */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

header {
    background-color: yellow;
    
}

main {
    background-color: brown;
    
    
}

footer {
    background-color: blue;
    
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }


.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  list-style: none;

  padding: 0 20px;
  line-height: 50px;

  transition: .3s;
}

html {
    scroll-behavior: smooth; 
  }

 
.section {
    width: 50%;
}

.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
.section-item a:hover {
    color: #4d2323;
  }

.contact-highlighted {
    font-weight:bold;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }