/* General Website Style rules */
* {
    box-sizing: border-box;
  }

body {
    font-family: 'Roboto', sans-serif;
    
    /*pin the footer to the bottom of the page */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

header {
    background-color: yellow;
    
}

main {
    background-color: brown;
    
    
}

footer {
    background-color: blue;
    
}